*~
*.swp
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.bak
*.bbl
*.blg
.nfs*

__pycache__/
figures/
videos/
old/
data/
results/
notes/
sounds/
mySolution/
docs/sphinx/
docs/sphinx/source/*
!docs/sphinx/source/conf.py
!docs/sphinx/source/index.rst
