*~
*.swp
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.bak
*.bbl
*.blg
*.vrb
.nfs*

__pycache__/
figures/
videos/
old/
data/
results/
notes/
sounds/
mySolution/
doc/sphinx/
doc/sphinx/source/*
!doc/sphinx/source/conf.py
!doc/sphinx/source/index.rst
